<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Warehouse" asp-action="Index">انبارها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Tenant" asp-action="Index">آزمایشگاه‌ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Product" asp-action="Index">محصولات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Company" asp-action="Index">شرکت‌ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Group" asp-action="Index">گروه‌ها</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <form asp-controller="Login" asp-action="Logout" method="post">
                                <button type="submit" class="btn btn-link nav-link">خروج</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Login">ورود</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container text-center">
            <p>© 2025 My Application</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>